name: Lint / Test

concurrency:
  group: ${{github.ref_name}}
  cancel-in-progress: true

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Setup node
        uses: ./.github/actions/setup-node
        with:
          node-version: 24
          node-auth-token: ${{ secrets.CI_TOKEN }}

      - name: ESLint
        run: npx lerna run eslint --since

      - name: prettier
        run: npx lerna run prettier --since

  test:
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Setup node
        uses: ./.github/actions/setup-node
        with:
          node-version: 24
          node-auth-token: ${{ secrets.CI_TOKEN }}

      - name: Test
        run: npx lerna run test --since
        env:
          TZ: UTC
